




.container{
    display:grid;
grid-template-columns: 1fr 6fr;
grid-template-rows: 1fr 6fr 2fr;
}

.sidebar{
    background-color: darkblue;
    grid-column: 1/1;
    grid-row: 1/3;
}

.header{
    background-color: darkgreen;
    grid-column: 2/2;
    grid-row: 1/1;
}

.project-area{
    background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
    gap: 20px;
}

.project-cards{
    background-color: darkkhaki;
    border-color: darkorange;
    border: 10px;
    padding:10px;
}

